@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oswald&display=swap');

h1, h2 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

p {
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  font-family: "EB Graamond", serif;
}

.center {
  margin: auto;
  width: 60%;
}